html body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.config {
    width: 640px;
    border: 2px solid #4c4f5a;
    border-radius: 8px;
    padding: 30px 60px;
    box-shadow: 0 0 10px -2px #202125;
    background: rgba(76, 79, 90, 0.3);
}
.config h1 {
    font-size: 28px;
    line-height: 60px;
    border-bottom: 2px solid #eee;
    margin-bottom: 24px;
    text-align: center;
}
.config ul {
    list-style: none;
}
.config ul li {
    display: flex;
    line-height: 36px;
}
.config ul li label {
    color: #999;
    font-size: 14px;
    width: 120px;
    flex-shrink: 0;
    text-align: right;
    padding-right: 12px;
}
.config ul li span {
    font-size: 14px;
    font-weight: bold;
}
.config ul li a {
    font-size: 14px;
    color: dodgerblue;
    margin-left: 12px;
    text-decoration: underline;
}